.carousel-section {
  padding: 160px 70px 100px 70px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.carousel-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px; /* Fixed minimum height to prevent layout shift */
  transition: opacity 0.5s ease; /* Fade transition for the entire content */
}

.video-wrapper {
  width: 60%;
  height: 0;
  padding-top: 33.33%; /* 16:9 aspect ratio (e.g., 9 / 16 * 100) */
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid white;
}

.carousel-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  padding: 20px;
  transition: opacity 0.5s ease; /* Fade transition for the video */
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.carousel-arrow.prev {
  left: 0px;
}

.carousel-arrow.next {
  right: 0px;
}

.carousel-arrow:hover {
  background-color: #e5e7eb;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: #d1d5db;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: #0156b3;
}

.carousel-icon {
  background-color: transparent;
}










@media only screen and (max-width: 600px) {
  .carousel-section {
  padding: 60px 20px;
}
.carousel-arrow{
  display: none;
}
.video-wrapper{
  width: 100%;
  height: 30vh;
}
.carousel-indicators {
  margin-top: -50px;
}
}