.carousel-section {
  padding: 2rem;
  /* background-color: #f5f7fa; */
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  margin-bottom: 30px;
  
}

.tab {
  padding: 0.5rem 1rem;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 0.9rem;
  color: #6b7280;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius:10px;
  gap: 0.3rem;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.tab-icon {
  font-size: 1rem;
  color: #6b7280;
  transition: color 0.3s ease;
  background-color: transparent;
}
.carousel-icon{
  background-color: transparent;
}

.tab.active {
  color: #4c51bf;
  font-weight: 500;
  border: 1px solid #0000ff; /* 2px solid blue border */
}

.tab.active .tab-icon {
  color: #4c51bf;
}

.carousel-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.carousel-content {
  position: relative;
  display: inline-block;
  

}

.carousel-video {
  width: 60%;
  height: auto;
  border-radius: 20px;
  padding : 20px;
  border: 1px solid white;

}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  border: none;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.carousel-arrow.prev {
  left: 1rem;
}

.carousel-arrow.next {
  right: 1rem;
}

.carousel-arrow:hover {
  background-color: #e5e7eb;
}