* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
body {
  background-color: #eceeee;
}

.main-big-heading {
  font-size: 75px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
}
.main-big-heading span {
  color: #a21caf;
}


.main-heading {
  font-size: 55px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
}
.main-heading span {
  color: #a21caf;
}
.main-heading-White {
  font-size: 55px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #ffffff;
}
.main-heading-white span {
  color: #a21caf;
}


.sub-heading {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
   font-family: "Roboto", sans-serif;
}
.sub-heading-white {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
   font-family: "Roboto", sans-serif;
}
.main-big-heading-white {
  font-size: 75px;
  font-weight: 600;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #ffffff;
}
.main-big-heading-white span {
  color: #a21caf;
}
.sub-heading-white {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #ffffff;
   font-family: "Roboto", sans-serif;
}
.boxes-heading {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
}
.boxes-heading-white {
  font-size: 22px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #ffffff;
}

.text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #04243f;
   font-family: "Roboto", sans-serif;
}




.text-white {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  color: #ffffff;
   font-family: "Roboto", sans-serif;
}





/* buttons start */
.blue-button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  background-color: #007bff; /* Blue background */
  color: #fff; /* White text */
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  border-radius: 50px;
  letter-spacing: 1.5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: fit-content;
}

.blue-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  transform: translateY(-2px); /* Slight lift on hover */
}

.arrow-icon {
  margin-left: 0.5rem; /* Space between text and icon */
  font-size: 2rem; /* Adjust icon size */
  vertical-align: middle;
  background-color: transparent;
}
/* buttons end */











.header {
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect for content behind the header */
  -webkit-backdrop-filter: blur(10px); /* For Safari compatibility */
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 1); /* Subtle border for definition */
  width: 70%;
  position: fixed;
  top: 30px;
  left: calc(100% - 85%);
  z-index: 1000;
  border-radius: 50px;
  padding: 20px;
  padding-left: 30px;
}
.header .logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
/* background-color: white; */
}

.logo img {
  height: 35px; /* Adjust the height as needed */
  width: auto;
  margin-bottom: -10px;
}

.navigation {
  margin-left: 2rem;

}

.nav-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

}

.nav-list li {
  margin-left: 1rem;

}

.nav-link {
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.3s, background-color 0.3s;
  /* background-color: white; */
}

.nav-link:hover {
  color: #4b5563;
  background-color: white;
}

.nav-link:hover .dropdown-icon {
  transform: rotate(180deg);
}
.dropdown-icon {
  margin-left: 0.25rem;
  color: #a21caf;
  background-color: transparent;
  font-size: 0.75rem;
  vertical-align: middle;
  transition: transform 0.3s;
}
.dropdown {
  position: relative;
}

.dropdown-icon {
  margin-left: 5px;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: -110px;
  display: none;
  background: white;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 12px;
  z-index: 1000;
  width: 430px;
  flex-direction: column;
  gap: 10px;
}
.inner-mega-menu {
  background-color: #eceeee;
   border-radius: 12px;
   padding: 15px;
}

.dropdown:hover .mega-menu {
  display: flex;
}

.mega-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  color: #03253f;
  font-weight: 500;
  transition: transform 0.2s;
}

.mega-item a {
  color: inherit;
  text-decoration: none;
}

.mega-item:hover {
  transform: scale(1.02);
}
.cont-icon-nav-dropdown{
  background-color: #03253f;
  padding: 10px;
  border-radius: 8px;
}
.mega-icon {
  font-size: 20px;
  color: #03253f;
  fill: #03253f;
}

.button-group {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  gap: 0.5rem;
  background-color: transparent;
}

.demo-button,
.login-button,
.signup-button {
  padding: 0.3rem 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 9999px; /* Fully rounded buttons */
  font-size: 1rem;
  transition: background-color 0.3s;
}

.demo-button {
  background: none;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.demo-button:hover {
  color: #4b5563;
}

.login-button {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.login-button:hover {
  background-color: #f3f4f6;
}

.signup-button {
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}

.signup-button:hover {
  background-color: #1f2937;
}
