.testimonialcarousel-section {
  padding: 0px 70px 0px 70px;
}

.swiper {
  width: 100%;
  margin-top: 40px;
}

.testimonialcarousel-card {
  display: flex;
  background: #E0FFFF;
  width: 100%;
  height: 550px; 
  flex-direction: row;
}

.testimonialcarousel-img-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonialcarousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonialcarousel-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.testimonialcarousel-quote-img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.testimonialcarousel-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonialcarousel-meta {
  display: flex;
  flex-direction: column;
}

.testimonialcarousel-name {
  font-weight: bold;
  font-size: 18px;
}

.testimonialcarousel-role {
  font-size: 14px;
  color: #555;
}

@media only screen and (max-width: 800px) {
  .testimonialcarousel-card {
    flex-direction: column;
    height: 550px;
  }
  .testimonialcarousel-section {
    padding: 40px 20px 20px 20px;
}
.swiper {
    width: 100%;
    margin-top: 30px;
}
}
