.why-team-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #0f172a; */
  padding: 100px 70px 0px 70px;
  /* color: #cbd5e1; */
  gap: 50px;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: 50%;
  gap: 30px;
}

.text li {
  margin-bottom: 12px;
}

.content-left ul {
  margin-left: 2rem;
}

.content-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, #041827, #04243f);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
  width: 50%;
}

.why-team-box-grid {
  display: flex;
  gap: 16px;
  /* background-color: bisque; */
}

.why-team-box {
  background: linear-gradient(145deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  position: relative;
  width: 50%;
}

.space-box {
  margin-top: 30px;
  background: linear-gradient(145deg,
      rgba(255, 255, 255, 0.05),
      rgba(255, 255, 255, 0.02));
  border-radius: 20px;
  height: 60px;
  width: 100%;
  position: relative;

}

@media only screen and (max-width: 800px) {
  .why-team-section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 60px 20px;
  }

  .content-left {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .content-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(135deg, #041827, #04243f);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
    width: 100%;
  }
}